<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestJenkins">
   <test name="TestJenkins">
   
  <!--    <parameter name="mot" value="${env.STR}"/>  -->
      
      <classes>
         <class name="JeuTest" />
      </classes>
      
   </test>
</suite>